<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form method="post" action="addEmpleado" th:object="${empleadoForm}">
		<h1>Registrate</h1>

		<table>
			<tr>
				<label for="text">Nombre</label><br />
				<input type="text" th:field="*{nombre}"><br />
			</tr>

			<tr>
				<label for="email">Email</label><br />
				<input type="text" th:field="*{email}"><br />
			</tr>
			<tr>
				<td><input type="submit" value="submit"></td>
			</tr>


		</table>
	</form>
</body>

</html>